{% extends 'base.html' %}

{% block title %}Criar novo evento{% endblock %}

{% block content %}
    <h2>Criação de Evento</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="{{ criar_evento.titulo.value|default_if_none:'' }}" required><br>

            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required>{{ criar_evento.descricao.value|default_if_none:'' }}</textarea><br>

            <label for="data_inicio">Data de Início:</label>
            <input type="datetime-local" id="data_inicio" name="data_inicio" value="{{ criar_evento.data_inicio.value|default_if_none:'' }}" required><br>

            <label for="data_fim">Data de Fim:</label>
            <input type="datetime-local" id="data_fim" name="data_fim" value="{{ criar_evento.data_fim.value|default_if_none:'' }}" required><br>

            <label for="local">Local:</label>
            <input type="text" id="local" name="local" value="{{ criar_evento.local.value|default_if_none:'' }}" required><br>

            <button type="submit">Criar Evento</button>
        </form>
    {% else %}
        <h3>Você precisa estar logado para criar um evento. </h3>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <a href="{% url 'index' %}">Voltar</a>
{% endblock %}