{% extends 'base.html' %}

{% block content %}
    <h2>{{ evento.titulo }}</h2>
    <p>{{ evento.descricao }}</p>
    <p>Início: {{ evento.data_inicio }}</p>
    <p>Término: {{ evento.data_fim }}</p>
    <p>Local: {{ evento.local }}</p>
    <p>Criado por: {{ evento.usuario.username }}</p>

    {% if user == evento.usuario %}
        <a href="{% url 'edit' evento.id %}">Editar</a>
        <form method="post" action="{% url 'delete' evento.id %}">
            {% csrf_token %}
            <button type="submit">Deletar</button>
        </form>
    {% endif %}
{% endblock %}