{% extends 'base.html' %}

{% block content %}
    <h2>Eventos</h2>
    <a href="{% url 'create' %}">Criar Novo Evento</a>
    <ul>
        {% for evento in eventos %}
            <li>
                {{ evento.titulo }} - {{ evento.data_inicio }} - {{ evento.local }}
                <a href="{% url 'edit' evento.id %}">Editar</a>
                <form action="{% url 'delete' evento.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
