{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2>Sign Up</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="usuario">Usuário:</label>
        <input type="text" name="criador" id="usuario" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha1" id="senha" required>
        <label for="senha">Confirme sua senha:</label>
        <input type="password" name="senha2" id="senha" required>
        <button type="submit">Cadastrar</button>
    </form>

    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            const senha1 = document.getElementById('senha1').value;
            const senha2 = document.getElementById('senha2').value;

            if (senha1 !== senha2) {
                event.preventDefault();
                alert('As senhas não coincidem. Por favor, verifique novamente.');
            }
        });
    </script>
{% endblock %}