{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2>Sign Up</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" id="signUp">
        {% csrf_token %}
        <label for="username">Usuário:</label>
        <input type="text" name="username" id="username" value="{{ signup.username.value|default_if_none:'' }}" required>
        {{ signup.username.errors }}

        <br><br><div id="error-message" class="error"></div><br>

        <label for="password1">Senha:</label>
        <input type="password" name="password1" id="password1" required><br><br>
        {{ signup.password1.errors }}

        <label for="password2">Confirme sua senha:</label>
        <input type="password" name="password2" id="password2" required><br><br>
        {{ signup.password2.errors }}

        <button type="submit">Cadastrar</button>
    </form>

    <script>
        document.getElementById('signUp').addEventListener('submit', function(event) {
            const password1 = document.getElementById('password1').value;
            const password2 = document.getElementById('password2').value;

            if (password1 !== password2) {
                event.preventDefault();
                document.getElementById("error-message").innerText = 'As senhas não coincidem. Por favor, verifique novamente.';
            return false;
            }
        return true;
    });
    </script>
{% endblock %}
